.main{
    display: grid;
    grid-template-columns: 2fr 1fr;
    margin: 40px;
    gap: 40px;
}
.header{
    display: flex;
    align-items: center;
    background-color:rgb(234, 229, 229);
    color: maroon;
    margin-bottom: 10px;
    border-radius:10px;
    padding-left: 8px;
};
.title{
    margin: 20px;
}
.activity{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 10px;
}

@media only screen and (max-368) {
   .activity{
    grid-template-columns: 1fr  1fr;
   } 
}
